body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    list-style: none;
}

ol li {
    margin: 8px 0;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 42px;
    font-weight: bold;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.square.square-X {
    color: #000080;
}

.square.square-O {
    color: #b22222;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-info {
    margin-left: 20px;
}

.game-info button {
    height: 32px;
    width: 150px;
    background-color: transparent;
    color: #14bdac;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
    cursor: pointer;
    font-weight: bold;
}

#board {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

td {
    width: 48px;
    padding: 0;
    border: 6px solid #222;
}

td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}

td:nth-of-type(2) {
    border-top-color: transparent;
}

td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}

tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}